form {
    background-color: #1E1F29;
}
input,textarea,select {
    background-color: #2E2D3D;
    color: #FAFAFA;
}
button {
    background-color: #4C38CC;
    color: #FAFAFA;
}
h1 {
    color: #FAFAFA;
}
label {
    color: #AFB2BF;
}